In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("C:/Users/Clarita/Desktop/HENRY/vibi/Vibi_model/ETL/dataset/departamentos.csv")

In [9]:
df.columns

Index(['id', 'title', 'address', 'price', 'area', 'bath', 'room',
       'property_type', 'description', 'year', 'parking', 'near_cc',
       'near_school', 'near_parks', 'near_avenue', 'security', 'elevator',
       'rest_area', 'pool', 'web', 'clean_address', 'dept', 'district',
       'ranking'],
      dtype='object')

In [14]:
df = df[['price', 'area', 'bath', 'room', 'year', 'parking', 'near_cc','near_school', 
         'near_parks', 'near_avenue', 'security', 'elevator','rest_area', 'pool', 'ranking']]

In [18]:
df[df.year == 0]

,price,area,bath,room,year,parking,near_cc,near_school,near_parks,near_avenue,security,elevator,rest_area,pool,ranking
131,180941,87,2,2,0,1,0,0,0,0,1,1,1,0,4.59
645,47000,49,1,2,0,0,0,0,0,0,0,0,0,0,3.13
974,93000,100,2,3,0,1,1,1,1,1,0,0,0,0,3.21
1344,57000,83,2,3,0,0,0,1,1,1,0,0,0,0,1.51
1376,112000,80,2,3,0,1,1,1,1,1,0,0,0,0,1.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8100,48000,56,1,2,0,0,0,0,0,0,0,0,0,0,1.46
8104,65000,120,2,3,0,0,1,1,1,1,0,0,1,0,1.46
8113,185000,129,3,4,0,0,0,0,1,1,0,0,0,0,4.66
8114,62432,64,2,2,0,0,0,0,0,0,0,0,0,0,3.21
8125,104000,78,2,3,0,1,1,1,1,1,0,0,0,0,1.51