In [354]:
import pandas as pd
import re

In [355]:
mitula = pd.read_csv("dataset/mitula_dataset.csv")

In [356]:
mitula

,id,title,price,location,property_type,operation_type,plot_area,year,description,image_urls,bed,bath,area,facilities,location_address,nearby_locations,property_url
0,1,VENTA DE TERRENOS EN CONDOMINIO MONTECARLO - M...,"S/.58,000","Mollendo, Islay, Arequipa",Condominio,Compra,NaN,NaN,üèñÔ∏èCONDOMINIO MONTECARLO - MOLLENDOüèñÔ∏è\n\nSe ubi...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,NaN,NaN,100 m¬≤,"{Estacionamiento,Terraza,Seguridad,Piscina,Jar...","Mollendo, Islay, Arequipa, PER","{""El mar"",""Avenidas principales""}",https://casas.mitula.pe/adform/24301-256-4cfd-...
1,2,Antigua Panamericana Norte Km. 1039 - 1040 - V...,"USD220,000","Sullana, Piura",Terreno,Compra,"7,500 m¬≤",NaN,MantyObras Inmobiliaria tiene a la venta un Te...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,NaN,NaN,NaN,{},"Sullana, Per√∫","{""Avenidas principales""}",https://casas.mitula.pe/adform/24301-256-4761-...
2,3,Duplex en Margalena Limite con San Isidro,"USD190,000","Sd. S/N, Magdalena del Mar, Lima, Lima",Apartamento,Compra,NaN,2013.0,"Se vende duplex de 2 dormitorios, ubicado a la...",https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,2 dormitorios,2 ba√±os,102 m¬≤,"{Estacionamiento,""Sin amoblar""}","Comandante Jim√©nez 188, Magdalena del Mar, Per√∫",{},https://casas.mitula.pe/adform/24301-256-4976-...
3,4,Se Vende Como Terreno en Ate Vitarte,"USD124,000","Cp. Vitarte Central, Ate, Lima, Lima",Terreno,Compra,155 m¬≤,NaN,EXCELENTE OPORTUNIDAD - SE VENDE PROPIEDAD A P...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,NaN,NaN,NaN,"{Agua,Electricidad}","Calle Santa Mar√≠a, Ate, Per√∫","{""Avenidas principales"",""Centros comerciales"",...",https://casas.mitula.pe/adform/24301-256-4b74-...
4,5,TERRENO AGRICOLA EN EL VALLE SAGRADO DE CUSCO ...,"USD540,000","C.p Calca, Calca, Cuzco",Casa,Compra,NaN,NaN,"OPORTUNIDAD DE INVERSION, EN EL MARAVILLOSO VA...",https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,NaN,NaN,"4,500 m¬≤",{},"Cuzco, Calca, C.p Calca",{},https://casas.mitula.pe/adform/24301-256-3cfb-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11581,11581,EN VENTA - Penthouse en Lujoso Condominio,"USD255,000","Urb Macondo, Arequipa, Arequipa",Apartamento,Compra,153 m¬≤,2021.0,EN VENTA -¬†Penthouse en Lujoso Condominio¬†\n\n...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,3 dormitorios,3 ba√±os,153 m¬≤,"{Estacionamiento,""Cuarto de servicio"",""Vista p...","Arequipa, Arequipa, Urb Macondo",{Parques},https://casas.mitula.pe/adform/24301-256-363b-...
11582,11582,Duplex 4dormitorios Surco,"USD230,000","Ur. Los Rosales Ampliacion Etapa Ii, Santiago ...",Apartamento,Compra,NaN,NaN,"Vendo 2do y 3er piso como duplex, con ingreso ...",https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,4 dormitorios,NaN,179 m¬≤,{},"Avenida Ayacucho, Surco, Per√∫","{""Avenidas principales"",""Centros comerciales"",...",https://casas.mitula.pe/adform/24301-256-5033-...
11583,11583,Se Vende Amplio Departamento,"USD95,000","Ur. Los Rosales Ampliacion Etapa Ii, Santiago ...",Apartamento,Compra,NaN,2015.0,Vendo de AMPLIO DEPARTAMENTO ideal para famili...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,3 dormitorios,1 ba√±o,84 m¬≤,{},"Calle Do√±a Edelmira 331, Santiago de Surco 150...",{},https://casas.mitula.pe/adform/24301-256-43bc-...
11584,11584,Acogedor Departamento En El Corazon De San Miguel,"USD84,000","Urb las Torres San Miguelito Etapa 2, Provinci...",Apartamento,Compra,NaN,NaN,Acogedor departamento ubicado a 5 minutos de P...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,3 dormitorios,2 ba√±os,62 m¬≤,{},"Prol. Ayacucho 453, San Miguel, Per√∫",{},https://casas.mitula.pe/adform/24301-256-47ec-...
11585,11586,VENTA DE CASA EN NAUTA,"USD43,000","A.h Marginal Manuel Pacaya, Loreto, Loreto",Casa,Compra,NaN,NaN,Banco te da la OPORTUNIDAD de tener tu CASA PR...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,1 dormitorio,1 ba√±o,108 m¬≤,{},"C. Ayacucho 455, Nauta 16300, Per√∫",{},https://casas.mitula.pe/adform/24301-256-4ab9-...

In [357]:
mitula_2 = mitula.drop(columns=['id', 'image_urls', 'property_url' ])

In [358]:
#from pandas_profiling import ProfileReport
#prof = ProfileReport(mitula_3)
#prof.to_file(output_file='mitula.html')

In [359]:
mitula_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11586 entries, 0 to 11585
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             11586 non-null  object
 1   price             11586 non-null  object
 2   location          11586 non-null  object
 3   property_type     11586 non-null  object
 4   operation_type    11586 non-null  object
 5   plot_area         2889 non-null   object
 6   year              5814 non-null   float64
 7   description       11586 non-null  object
 8   bed               7390 non-null   object
 9   bath              8217 non-null   object
 10  area              8180 non-null   object
 11  facilities        11586 non-null  object
 12  location_address  11586 non-null  object
 13  nearby_locations  11586 non-null  object
dtypes: float64(1), object(13)
memory usage: 1.2+ MB

Drop duplicates

In [360]:
mitula_2.drop_duplicates(inplace= True)

### location_address:
Rename the column

In [361]:
mitula_2.rename(columns= {"location_address": "address"}, inplace= True)

### property_type: 
Leave only "Casa", "Apartamento", "Condominio", "Townhouse", "Casa de playa", "Habitaci√≥n",

In [362]:
mitula["property_type"].unique()

array(['Condominio', 'Terreno', 'Apartamento', 'Casa', 'Villa',
       'Local Comercial', 'Almac√©n', 'Cochera', 'Casa de playa',
       'Oficina', 'Habitaci√≥n', 'Townhouse'], dtype=object)

In [363]:
mitula_2 = mitula_2[(mitula_2['property_type'] == "Apartamento") | 
                    (mitula_2['property_type'] == "Casa") | 
                    (mitula_2['property_type'] == "Condominio") |
                    (mitula_2['property_type'] == "Townhouse") | 
                    (mitula_2['property_type'] == "Casa de playa")]

In [364]:
mitula_2["property_type"].value_counts()

Apartamento      4283
Casa             1733
Casa de playa      67
Condominio         24
Townhouse           1
Name: property_type, dtype: int64

In [365]:
#mitula_2["property_type"].replace(["Condominio", "Apartamento"], "Departamento", inplace= True)

### price: 
Take out "Consultar", clean data and convert S/ to USD

In [366]:
mitula_2 = mitula_2[mitula_2["price"] != "Consultar"]

In [367]:
mitula_2["price_USD"] = mitula_2["price"]

In [368]:
mitula_2["price_USD"] = mitula_2["price_USD"].str.replace("USD","")
mitula_2["price_USD"] = mitula_2["price_USD"].str.replace(",","")

In [369]:
# Definir una funci√≥n para realizar la conversi√≥n
def convert_to_usd(value):
    if isinstance(value, str) and value.startswith('S/.'):
        value = float(value.replace('S/.', '').replace(',', '')) / 3.7
        value= round(value)
    return value

# Aplicar la funci√≥n a la columna price_USD
mitula_2["price_USD"] = mitula_2["price_USD"].apply(lambda x: convert_to_usd(x))

In [370]:
mitula_2["price_USD"] = mitula_2["price_USD"].astype(int)

In [371]:
mitula_2.rename(columns= {"price_USD": "price", "price" : "old_price"}, inplace= True)

### operation_type:
Leave only "compra"

In [372]:
mitula_2["operation_type"].unique()

array(['Compra', 'Alquiler'], dtype=object)

In [373]:
mitula_2 = mitula_2[mitula_2["operation_type"] == "Compra"]

### plot_area and area: 
Make a combined variable

In [374]:
# Eliminar el m2 de las variables
mitula_2['plot_area'] = mitula_2['plot_area'].str.replace(" m¬≤","")
mitula_2['area'] = mitula_2['area'].str.replace(" m¬≤","")

In [375]:
def combine_columns(row):
    if not pd.isna(row['plot_area']) and not pd.isna(row['area']):
        if row['plot_area'] == row['plot_area']:
            return row['plot_area']
        else: 
            return "Revisar"
    elif not pd.isna(row['plot_area']):
        # Si solo plot_area tiene datos, toma su valor
        return row['plot_area']
    elif not pd.isna(row['area']):
        # Si solo area tiene datos, toma su valor
        return row['area']
    else:
        # Si ambas columnas est√°n vac√≠as, puedes manejarlo como desees
        return None  # En este ejemplo, dejamos el resultado como NaN

# Aplicar la funci√≥n para combinar las columnas y crear una nueva columna llamada 'combined'
mitula_2['area_combined'] = mitula_2.apply(combine_columns, axis=1)

In [376]:
mitula_2['area_combined'] = mitula_2['area_combined'].str.replace(",","")

In [377]:
#Chequeo que no me quede ningun dato por revisar
mitula_2[mitula_2['area_combined']== "Revisar"]

Empty DataFrame
Columns: [title, old_price, location, property_type, operation_type, plot_area, year, description, bed, bath, area, facilities, address, nearby_locations, price, area_combined]
Index: []

In [378]:
mitula_2['area_combined'].isnull().sum()

514

In [379]:
#Elimino registros que tengan nulo el area
mitula_2.dropna(subset= ['area_combined'], inplace= True)

In [380]:
# Convierto el tipo de dato a int
mitula_2['area_combined'] = mitula_2['area_combined'].astype(int)

In [381]:
mitula_2.columns

Index(['title', 'old_price', 'location', 'property_type', 'operation_type',
       'plot_area', 'year', 'description', 'bed', 'bath', 'area', 'facilities',
       'address', 'nearby_locations', 'price', 'area_combined'],
      dtype='object')

In [382]:
mitula_2.rename(columns= {"area" : "old_area","area_combined": "area"}, inplace= True)

### bed:
Change column name and delete de word "dormitorios"

In [383]:
mitula_2.isnull().sum()

title                  0
old_price              0
location               0
property_type          0
operation_type         0
plot_area           4818
year                1601
description            0
bed                  136
bath                 132
old_area              61
facilities             0
address                0
nearby_locations       0
price                  0
area                   0
dtype: int64

In [384]:
mitula_2["bed"].unique()

array([nan, '2 dormitorios', '3 dormitorios', '5 dormitorios',
       '4 dormitorios', '1 dormitorio', '15 dormitorios',
       '32 dormitorios', '14 dormitorios', '6 dormitorios',
       '7 dormitorios', '8 dormitorios', '10 dormitorios',
       '9 dormitorios', '13 dormitorios', '16 dormitorios',
       '24 dormitorios', '25 dormitorios', '19 dormitorios',
       '11 dormitorios', '20 dormitorios', '18 dormitorios',
       '12 dormitorios', '30 dormitorios', '28 dormitorios',
       '40 dormitorios', '17 dormitorios', '31 dormitorios',
       '22 dormitorios'], dtype=object)

In [385]:
mitula_2.reset_index(inplace= True)

In [386]:
mitula_2.loc[4275, "description"]

'Vendo Departamento en 4to piso , no cochera , no ascensor , 108 metros de √°rea total , amplia sala comedor con pisos de porcelanato , cocina con reposteros altos y bajos , lavander√≠a , 3 amplios dormitorios con closet , 2 ba√±os completos  , precio $100,000 , informes al '

In [387]:
mitula_2[mitula_2["bed"] == "40 dormitorios"]

,index,title,old_price,location,property_type,operation_type,plot_area,year,description,bed,bath,old_area,facilities,address,nearby_locations,price,area
4266,8856,VENDO DEPARTAMENTO EN SAN MIGUEL,"USD129,000","Ur. Maranga Etapa Ii, San Miguel, Lima, Lima",Apartamento,Compra,NaN,2012.0,Vendo departamento San Miguel ubicado cerca a ...,40 dormitorios,3 ba√±os,80,"{Estacionamiento,""Vista panor√°mica"",""Armario e...","San Miguel, Lima, Per√∫","{""Avenidas principales"",""Centros comerciales"",...",129000,80

In [388]:
mitula_2["bed"] = mitula_2["bed"].str.replace(" dormitorios", "").str.replace(" dormitorio", "")

In [389]:
mitula_2['bed'].isnull().sum()

136

In [390]:
# Delete rows that have null in "bed"
mitula_2.dropna(subset= ['bed'], inplace= True)

In [391]:
# Change the name of the column
mitula_2.rename(columns = {"bed": "room"}, inplace= True)

### bath:
Change column name and delete de word "ba√±os"

In [392]:
# mitula_2.loc[1569] tiene 7 estacionamientos 163 tiene 6 estacionamientos

In [393]:
#Borrar los que son hostel o hoteles o edificios enteros
mitula_2.drop([4611, 20, 297, 2776, 348,560, 2912, 5022, 349, 372,1422, 3013, 3615, 5030, 2695,  4700, 439, 4726, 2116, 2632, 3607, 2836, 2654, 3566, 4298, 4844], inplace= True)

In [394]:
#Modificar los que est√°n mal
mitula_2.loc[[1313, 1940, 2354, 118, ], "bath"] = "2 ba√±os"
mitula_2.loc[[12, 1576, 1073, 1308, 1726, 2711, 2849, 2933], "bath"] = "3 ba√±os"
mitula_2.loc[[2209, 803, 2212, 2665, 2962, 5057], "bath"] = "4 ba√±os"
mitula_2.loc[[734, 3569, 3724, 4638, 108, 3645, 4009], "bath"] = "5 ba√±os"
mitula_2.loc[[163, 364, 3562, 3570, 3584, 3589, 4274, 326, 2806], "bath"] = "6 ba√±os"
mitula_2.loc[[2665], "room"] = 5
mitula_2.loc[[163, 364, 734, 803, 2212, 4638, 108], "room"] = 6 
mitula_2.loc[[2962, 3562, 3569, 3570, 3584, 3589, 4274, 2806], "room"] = 9

In [395]:
mitula_2.bath.unique()

array(['2 ba√±os', '3 ba√±os', '4 ba√±os', '1 ba√±o', '17 ba√±os', '5 ba√±os',
       '7 ba√±os', '8 ba√±os', nan, '6 ba√±os', '9 ba√±os', '11 ba√±os',
       '10 ba√±os', '14 ba√±os', '12 ba√±os', '15 ba√±os'], dtype=object)

In [396]:
mitula_2.property_type.unique()

array(['Apartamento', 'Casa', 'Condominio', 'Casa de playa'], dtype=object)

In [397]:
mitula_2 = mitula_2[mitula_2["property_type"] != 'Casa de playa']

In [398]:
mitula_2 = mitula_2[mitula_2["property_type"] != 'Condominio']

In [399]:
# Delete rows that have null in "bath"
mitula_2.dropna(subset= ['bath'], inplace= True)

In [400]:
mitula_2["bath"] = mitula_2["bath"].str.replace(" ba√±os", "").str.replace(" ba√±o", "")

### year:
Fill nulls with zero

In [401]:
mitula_2["year"]

1       2013.0
3       2009.0
4          NaN
6       1987.0
7          NaN
         ...
5169    2022.0
5170    2020.0
5171    2020.0
5172    2021.0
5173    2021.0
Name: year, Length: 4919, dtype: float64

In [402]:
mitula_2.year.isnull().sum()

1465

In [403]:
mitula_2.year.fillna(0, inplace= True)

In [404]:
mitula_2["year"] = mitula_2["year"].astype(int)

### nearby_locations:
Create columns for "Centros comerciales", "Escuelas", "Parques", "Avenidas principales"

In [405]:
mitula_2["nearby_locations"]

1                                                      {}
3       {Parques,"Centros comerciales","Avenidas princ...
4                                                      {}
6               {"Avenidas principales",Parques,Colegios}
7                                               {Parques}
                              ...
5169                                            {Parques}
5170    {"Avenidas principales","Centros comerciales",...
5171    {"Avenidas principales","Centros comerciales",...
5172                                            {Parques}
5173                                            {Parques}
Name: nearby_locations, Length: 4919, dtype: object

In [406]:
# Define la funci√≥n que realizar√° la operaci√≥n en una sola fila
def process_nearby_locations(row):
    a = row["nearby_locations"]
    if isinstance(a, str):
        a = a.strip('{}')
        return [x.strip('""') for x in a.split(',')]
    else:
        return None

# Aplica la funci√≥n a todas las filas de la columna "nearby_locations" y crea una nueva columna "processed_locations"
mitula_2["nearby_locations"] = mitula_2.apply(process_nearby_locations, axis=1)

In [407]:
mitula_2["nearby_locations"]

1                                                      []
3       [Parques, Centros comerciales, Avenidas princi...
4                                                      []
6               [Avenidas principales, Parques, Colegios]
7                                               [Parques]
                              ...
5169                                            [Parques]
5170    [Avenidas principales, Centros comerciales, Pa...
5171    [Avenidas principales, Centros comerciales, Pa...
5172                                            [Parques]
5173                                            [Parques]
Name: nearby_locations, Length: 4919, dtype: object

In [408]:
locations = dict()

for locations_list in mitula_2["nearby_locations"]:
    if isinstance(locations_list, list):
        for facility in locations_list:
            facility = facility.strip().replace(",", "")
            try:
                locations[facility] += 1
            except KeyError:
                locations[facility] = 1

In [409]:
locations

{'': 1374,
 'Parques': 2914,
 'Centros comerciales': 2393,
 'Avenidas principales': 2879,
 'Colegios': 2477,
 'El mar': 357}

In [410]:
mitula_2['near_parks'] = 0
mitula_2['near_cc'] = 0
mitula_2['near_avenue'] = 0
mitula_2['near_school'] = 0

# Definir las palabras clave
keywords = {
    'near_parks': 'Parques',
    'near_cc': 'Centros comerciales',
    'near_avenue': 'Avenidas principales',
    'near_school': 'Colegios'
}

# Iterar a trav√©s de las filas y asignar 1 si la palabra clave est√° presente
for index, row in mitula_2.iterrows():
    locations = row['nearby_locations']
    for col, keyword in keywords.items():
        if keyword in locations:
            mitula_2.at[index, col] = 1

### facilities:

In [411]:
# Define la funci√≥n que realizar√° la operaci√≥n en una sola fila
def process_nearby_locations(row):
    a = row["facilities"]
    if isinstance(a, str):
        a = a.strip('{}')
        return [x.strip('""') for x in a.split(',')]
    else:
        return None

# Aplica la funci√≥n a todas las filas de la columna "nearby_locations" y crea una nueva columna "processed_locations"
mitula_2["facilities"] = mitula_2.apply(process_nearby_locations, axis=1)

In [412]:
mitula_2["facilities"]

1                          [Estacionamiento, Sin amoblar]
3       [Estacionamiento, Cocina equipada, Cuarto de s...
4                     [Estacionamiento, Balc√≥n, Internet]
6                        [Armario empotrado, Sin amoblar]
7       [Estacionamiento, Cocina equipada, Cuarto de s...
                              ...
5169    [Estacionamiento, Cocina equipada, Balc√≥n, Bod...
5170    [Estacionamiento, Cocina equipada, Parcialment...
5171    [Estacionamiento, Cuarto de servicio, Parcialm...
5172                                                   []
5173    [Estacionamiento, Cuarto de servicio, Vista pa...
Name: facilities, Length: 4919, dtype: object

In [413]:
locations = dict()

for locations_list in mitula_2["facilities"]:
    if isinstance(locations_list, list):
        for facility in locations_list:
            facility = facility.strip().replace(",", "")
            try:
                locations[facility] += 1
            except KeyError:
                locations[facility] = 1

In [414]:
locations

{'Estacionamiento': 2560,
 'Sin amoblar': 1815,
 'Cocina equipada': 1298,
 'Cuarto de servicio': 1324,
 'Permite animales dom√©sticos': 208,
 'Balc√≥n': 1264,
 'Vista panor√°mica': 1010,
 'Cisterna': 761,
 'Terraza': 1416,
 'Permite ni√±os': 176,
 'Ver m√°s': 1255,
 'Ver menos': 1255,
 'Piscina': 533,
 'Caseta de vigilancia': 783,
 'Barbacoa': 858,
 'Acceso para personas con discapacidad': 684,
 'Internet': 605,
 'Armario empotrado': 1942,
 'Agua': 565,
 'Aire acondicionado': 202,
 'Seguridad': 1797,
 'Conserje': 898,
 'Jard√≠n': 929,
 '': 902,
 'Patio': 989,
 'Parcialmente amoblado': 405,
 'Ascensor': 1698,
 'Jacuzzi': 185,
 'Chimenea': 144,
 'Biblioteca': 58,
 '√Årea infantil': 445,
 'Gas natural': 647,
 'Calefacci√≥n': 53,
 'Cancha de tenis': 34,
 'Gimnasio': 422,
 'Bodega': 343,
 'Completamente amoblado': 84,
 'Sauna': 76,
 'Cocina con reposteros': 68,
 'Alarma': 39,
 'Jard√≠n en la azotea': 84,
 'Oficina': 17,
 'Electricidad': 1}

In [415]:
locations['Ascensor']

1698

In [416]:
mitula_2['parking'] = 0
mitula_2['security'] = 0
mitula_2['elevator'] = 0
mitula_2['rest_area'] = 0
mitula_2['pool'] = 0

# Definir las palabras clave
keywords = {
    'parking': r'Estacionamiento',
    'security': r'Seguridad|Alarma',
    'elevator': r'Ascensor',
    'rest_area': r'Balc√≥n|Terraza|Caseta de vigilancia|Jard√≠n|Patio',
    'pool': r'Jacuzzi|Piscina'
}


# Iterar a trav√©s de las filas y asignar 1 si la palabra clave est√° presente
for index, row in mitula_2.iterrows():
    locations = row['facilities']
    if isinstance(locations, list):
        locations = ', '.join(locations)
    for col, keyword in keywords.items():
        if re.search(keyword, locations):
            mitula_2.at[index, col] = 1

In [417]:
mitula_2["pool"].value_counts()

0    4291
1     628
Name: pool, dtype: int64

In [418]:
#Qued√≥ un area mal colocada
mitula_2.loc[329, "area"] = 85

In [419]:
mitula_2.sort_values(by= "area")

,index,title,old_price,location,property_type,operation_type,plot_area,year,description,room,...,area,near_parks,near_cc,near_avenue,near_school,parking,security,elevator,rest_area,pool
4483,9399,EXCLUSIVOS DEPARTAMENTOS DE 1 DORMITORIO DESDE...,"USD79,000","Chorrillos, Lima, Lima",Apartamento,Compra,NaN,2025,Agente: Milagros Garibaldi Cel: 961*355*201- ...,1,...,25,1,1,1,1,1,1,1,1,1
4558,9547,VIVE O INVIERTE FRENTE AL MAR ! DEPARTAMENTOS ...,"USD78,000","Ur. La Campi√±a, Chorrillos, Lima, Lima",Apartamento,Compra,NaN,0,Enam√≥rate de la vista privilegiada al mar y la...,1,...,25,0,0,0,0,0,0,0,0,1
4664,9900,VENTA DE LINDOS Y MODERNOS DEPARTAMENTOS FRENT...,"USD79,000","Chorrillos, Lima, Lima",Apartamento,Compra,NaN,0,VENTA DE LINDOS Y MODERNOS DEPARTAMENTOS FRENT...,1,...,25,0,0,1,0,0,1,1,1,1
4481,9397,VENDO DEPARTAMENTOS,"USD79,000","Chorrillos, Lima, Lima",Apartamento,Compra,NaN,2023,Vendo lindos departamento en el malec√≥n de Cho...,1,...,26,1,0,0,0,1,1,1,1,1
3214,6174,"Se vende departamento de 1 dormitorio, en la A...","USD59,000","Ur. Aurora, Miraflores, Lima, Lima",Apartamento,Compra,NaN,1988,"Se vende departamento de 1 dormitorio, en la A...",1,...,27,1,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5041,11228,Tarapoto - Casa de Campo en Venta - Lamas (Pam...,"USD300,000","Lamas, San Mart√≠n",Casa,Compra,"38,000",2017,El entorno de la propiedad est√° relacionada co...,3,...,38000,1,0,0,0,1,0,0,1,0
2971,5566,"Venta, Casa-Fundo, Chontabamba - Oxapampa","USD740,000","Chontabamba, Oxapampa, Pasco",Casa,Compra,NaN,2000,"Casa - Fundo, de 3.8hectareas, con una linda y...",3,...,38739,0,0,1,0,1,0,0,1,0
1519,2810,Venta de Duplex con terraza con balc√≥n y coche...,"USD239,000","Ur. Aldebaran, Santiago de Surco, Lima, Lima",Apartamento,Compra,NaN,2023,‚úÖValle Hermoso este -SURCO\nDuplex 404\n‚úÖ2 Dor...,2,...,239000,1,1,1,1,1,0,1,1,0
4624,9814,TERRENO en VENTA en PACHACAMAC,"USD30,000,000","Provincia de Lima, Provincia de Lima",Casa,Compra,"420,000",2000,"TERRENO RUSTICO DE 42 HECT√ÅREAS, SE PUEDE DAR ...",6,...,420000,1,0,0,0,1,1,0,1,1
1030,2100,SE VENDE ENEstreno Moderno En Condominio C/ √År...,"USD109,350","Santiago de Surco, Lima, Lima",Apartamento,Compra,NaN,2022,"DEPARTAMENTOS EN ESTRENO | 1, 2 Y 3 HABITACION...",2,...,1051704,1,1,1,0,0,1,1,1,0

In [420]:
mitula_2["web"] = "Mitula"

## Crear nuevo DF

In [421]:
mitula_3 = mitula_2[['title', 'address', 'price','area', 'bath', 'room', 'property_type', 'description', 'year', 'parking', 'near_cc', 'near_school', 'near_parks', 'near_avenue', 'security', 'elevator', 'rest_area', 'pool', 'web']]

In [422]:
mitula_3.reset_index(drop= True, inplace= True)

In [423]:
mitula_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4919 entries, 0 to 4918
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          4919 non-null   object
 1   address        4919 non-null   object
 2   price          4919 non-null   int32
 3   area           4919 non-null   int32
 4   bath           4919 non-null   object
 5   room           4919 non-null   object
 6   property_type  4919 non-null   object
 7   description    4919 non-null   object
 8   year           4919 non-null   int32
 9   parking        4919 non-null   int64
 10  near_cc        4919 non-null   int64
 11  near_school    4919 non-null   int64
 12  near_parks     4919 non-null   int64
 13  near_avenue    4919 non-null   int64
 14  security       4919 non-null   int64
 15  elevator       4919 non-null   int64
 16  rest_area      4919 non-null   int64
 17  pool           4919 non-null   int64
 18  web            4919 non-null   object
dtypes: int32(3), int64(9), object(7)
memory usage: 672.6+ KB

In [424]:
mitula_3.to_csv("mitula.csv", index= False)