In [44]:
import pandas as pd

In [45]:
mitula = pd.read_csv("dataset/mitula_dataset.csv")

In [46]:
mitula.head()

,id,title,price,location,property_type,operation_type,plot_area,year,description,image_urls,bed,bath,area,facilities,location_address,nearby_locations,property_url
0,1,VENTA DE TERRENOS EN CONDOMINIO MONTECARLO - M...,"S/.58,000","Mollendo, Islay, Arequipa",Condominio,Compra,NaN,NaN,üèñÔ∏èCONDOMINIO MONTECARLO - MOLLENDOüèñÔ∏è\n\nSe ubi...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,NaN,NaN,100 m¬≤,"{Estacionamiento,Terraza,Seguridad,Piscina,Jar...","Mollendo, Islay, Arequipa, PER","{""El mar"",""Avenidas principales""}",https://casas.mitula.pe/adform/24301-256-4cfd-...
1,2,Antigua Panamericana Norte Km. 1039 - 1040 - V...,"USD220,000","Sullana, Piura",Terreno,Compra,"7,500 m¬≤",NaN,MantyObras Inmobiliaria tiene a la venta un Te...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,NaN,NaN,NaN,{},"Sullana, Per√∫","{""Avenidas principales""}",https://casas.mitula.pe/adform/24301-256-4761-...
2,3,Duplex en Margalena Limite con San Isidro,"USD190,000","Sd. S/N, Magdalena del Mar, Lima, Lima",Apartamento,Compra,NaN,2013.0,"Se vende duplex de 2 dormitorios, ubicado a la...",https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,2 dormitorios,2 ba√±os,102 m¬≤,"{Estacionamiento,""Sin amoblar""}","Comandante Jim√©nez 188, Magdalena del Mar, Per√∫",{},https://casas.mitula.pe/adform/24301-256-4976-...
3,4,Se Vende Como Terreno en Ate Vitarte,"USD124,000","Cp. Vitarte Central, Ate, Lima, Lima",Terreno,Compra,155 m¬≤,NaN,EXCELENTE OPORTUNIDAD - SE VENDE PROPIEDAD A P...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,NaN,NaN,NaN,"{Agua,Electricidad}","Calle Santa Mar√≠a, Ate, Per√∫","{""Avenidas principales"",""Centros comerciales"",...",https://casas.mitula.pe/adform/24301-256-4b74-...
4,5,TERRENO AGRICOLA EN EL VALLE SAGRADO DE CUSCO ...,"USD540,000","C.p Calca, Calca, Cuzco",Casa,Compra,NaN,NaN,"OPORTUNIDAD DE INVERSION, EN EL MARAVILLOSO VA...",https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,NaN,NaN,"4,500 m¬≤",{},"Cuzco, Calca, C.p Calca",{},https://casas.mitula.pe/adform/24301-256-3cfb-...

In [47]:
mitula_2 = mitula.drop(columns=['id', 'title', 'image_urls', 'property_url' ])

In [48]:
#from pandas_profiling import ProfileReport
#prof = ProfileReport(mitula_3)
#prof.to_file(output_file='mitula.html')

In [49]:
mitula_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11586 entries, 0 to 11585
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             11586 non-null  object
 1   location          11586 non-null  object
 2   property_type     11586 non-null  object
 3   operation_type    11586 non-null  object
 4   plot_area         2889 non-null   object
 5   year              5814 non-null   float64
 6   description       11586 non-null  object
 7   bed               7390 non-null   object
 8   bath              8217 non-null   object
 9   area              8180 non-null   object
 10  facilities        11586 non-null  object
 11  location_address  11586 non-null  object
 12  nearby_locations  11586 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

Drop duplicates

In [50]:
mitula_2.drop_duplicates(inplace= True)

### property_type: 
Leave only "Casa", "Apartamento", "Condominio", "Townhouse", "Casa de playa", "Habitaci√≥n",

In [51]:
mitula["property_type"].unique()

array(['Condominio', 'Terreno', 'Apartamento', 'Casa', 'Villa',
       'Local Comercial', 'Almac√©n', 'Cochera', 'Casa de playa',
       'Oficina', 'Habitaci√≥n', 'Townhouse'], dtype=object)

In [52]:
mitula_2 = mitula_2[(mitula_2['property_type'] == "Apartamento") | 
                    (mitula_2['property_type'] == "Casa") | 
                    (mitula_2['property_type'] == "Condominio") |
                    (mitula_2['property_type'] == "Townhouse") | 
                    (mitula_2['property_type'] == "Casa de playa") | 
                    (mitula_2['property_type'] == "Habitaci√≥n")]

### price: 
Take out "Consultar", clean data and convert S/ to USD

In [53]:
mitula_2 = mitula_2[mitula_2["price"] != "Consultar"]

In [54]:
mitula_2["price_USD"] = mitula_2["price"]

In [55]:
mitula_2["price_USD"] = mitula_2["price_USD"].str.replace("USD","")
mitula_2["price_USD"] = mitula_2["price_USD"].str.replace(",","")

In [56]:
# Definir una funci√≥n para realizar la conversi√≥n
def convert_to_usd(value):
    if isinstance(value, str) and value.startswith('S/.'):
        value = float(value.replace('S/.', '').replace(',', '')) / 3.7
        value= round(value)
    return value

# Aplicar la funci√≥n a la columna price_USD
mitula_2["price_USD"] = mitula_2["price_USD"].apply(lambda x: convert_to_usd(x))

In [57]:
mitula_2["price_USD"] = mitula_2["price_USD"].astype(int)

### operation_type:
Leave only "compra"

In [58]:
mitula_2["operation_type"].unique()

array(['Compra', 'Alquiler'], dtype=object)

In [59]:
mitula_2 = mitula_2[mitula_2["operation_type"] == "Compra"]

### plot_area and area: 
Make a combined variable

In [60]:
# Eliminar el m2 de las variables
mitula_2['plot_area'] = mitula_2['plot_area'].str.replace(" m¬≤","")
mitula_2['area'] = mitula_2['area'].str.replace(" m¬≤","")

In [61]:
def combine_columns(row):
    if not pd.isna(row['plot_area']) and not pd.isna(row['area']):
        if row['plot_area'] == row['plot_area']:
            return row['plot_area']
        else: 
            return "Revisar"
    elif not pd.isna(row['plot_area']):
        # Si solo plot_area tiene datos, toma su valor
        return row['plot_area']
    elif not pd.isna(row['area']):
        # Si solo area tiene datos, toma su valor
        return row['area']
    else:
        # Si ambas columnas est√°n vac√≠as, puedes manejarlo como desees
        return None  # En este ejemplo, dejamos el resultado como NaN

# Aplicar la funci√≥n para combinar las columnas y crear una nueva columna llamada 'combined'
mitula_2['area_combined'] = mitula_2.apply(combine_columns, axis=1)

In [62]:
mitula_2['area_combined'] = mitula_2['area_combined'].str.replace(",","")

In [63]:
#Chequeo que no me quede ningun dato por revisar
mitula_2[mitula_2['area_combined']== "Revisar"]

Empty DataFrame
Columns: [price, location, property_type, operation_type, plot_area, year, description, bed, bath, area, facilities, location_address, nearby_locations, price_USD, area_combined]
Index: []

In [64]:
mitula_2['area_combined'].isnull().sum()

513

In [65]:
#Elimino registros que tengan nulo el area
mitula_2.dropna(subset= ['area_combined'], inplace= True)

In [66]:
# Convierto el tipo de dato a int
mitula_2['area_combined'] = mitula_2['area_combined'].astype(int)

### bed:
Change column name and delete de word "dormitorios"

In [67]:
mitula_2["bed"].unique()

array([nan, '2 dormitorios', '3 dormitorios', '5 dormitorios',
       '4 dormitorios', '1 dormitorio', '15 dormitorios',
       '32 dormitorios', '14 dormitorios', '6 dormitorios',
       '7 dormitorios', '8 dormitorios', '10 dormitorios',
       '9 dormitorios', '13 dormitorios', '16 dormitorios',
       '24 dormitorios', '25 dormitorios', '19 dormitorios',
       '11 dormitorios', '20 dormitorios', '18 dormitorios',
       '12 dormitorios', '30 dormitorios', '28 dormitorios',
       '40 dormitorios', '17 dormitorios', '31 dormitorios',
       '22 dormitorios'], dtype=object)

In [68]:
mitula_2["bed"] = mitula_2["bed"].str.replace(" dormitorios", "").str.replace(" dormitorio", "")

In [69]:
mitula_2['bed'].isnull().sum()

136

In [70]:
# Delete rows that have null in "bed"
mitula_2.dropna(subset= ['bed'], inplace= True)

In [71]:
# Change the name of the column
mitula_2.rename(columns = {"bed": "rooms"}, inplace= True)

### bath:
Change column name and delete de word "ba√±os"

In [72]:
mitula_2["bath"].unique()

array(['2 ba√±os', '3 ba√±os', '4 ba√±os', '1 Medio ba√±o', '1 ba√±o',
       '17 ba√±os', '33 ba√±os', '5 ba√±os', '7 ba√±os', '8 ba√±os', nan,
       '6 ba√±os', '2 Medios ba√±os', '9 ba√±os', '15 ba√±os',
       '3 Medios ba√±os', '10 ba√±os', '24 ba√±os', '12 ba√±os', '27 ba√±os',
       '22 ba√±os', '11 ba√±os', '25 ba√±os', '35 ba√±os', '230 ba√±os',
       '20 ba√±os', '28 ba√±os', '14 ba√±os', '34 ba√±os', '13 ba√±os',
       '5 Medios ba√±os'], dtype=object)

In [73]:
# Delete rows that have null in "bed"
mitula_2.dropna(subset= ['bath'], inplace= True)

In [74]:
mitula_2["bath"] = mitula_2["bath"].str.replace(" ba√±os", "").str.replace(" ba√±o", "")

In [75]:
mitula_2["half_baths"] = None

# Itera a trav√©s de las filas del DataFrame
for index, row in mitula_2.iterrows():
    bath_column = row["bath"]
    
    # Verifica si "Medios" o "Medio" est√° presente en la columna "bath"
    if "Medios" in bath_column or "Medio" in bath_column:
        # Encuentra el n√∫mero en la cadena
        words = bath_column.split()
        for word in words:
            if word.isdigit():
                half_baths = int(word)
                # Asigna el n√∫mero a la columna "half_baths" en la misma fila
                mitula_2.at[index, "half_baths"] = half_baths
                # Actualiza la columna "bath" con 0
                mitula_2.at[index, "bath"] = 0

# Ahora, df contendr√° una nueva columna "half_baths" con el n√∫mero de medios ba√±os en las filas correspondientes.

In [76]:
mitula_2["half_baths"] = mitula_2["half_baths"].fillna("0")

In [77]:
# Change the name of the column
mitula_2.rename(columns = {"bath": "baths"}, inplace= True)

### year:

In [97]:
for index, row in mitula_2.iterrows():
    if not pd.isna(row["year"]):
        mitula_2.at[index, "year"] = int(row["year"])
    else:
        pass

In [98]:
mitula_2["year"]

2        2013.0
5        2009.0
6           NaN
9        1987.0
10          NaN
          ...
11574    2022.0
11575    2020.0
11577    2020.0
11579    2021.0
11581    2021.0
Name: year, Length: 4936, dtype: float64

### nearby_locations:

In [78]:
#type(mitula_2["processed_locations"][5])

In [79]:
#mitula_2["processed_locations"][9]

In [80]:
mitula_2["nearby_locations"]

2                                                       {}
5        {Parques,"Centros comerciales","Avenidas princ...
6                                                       {}
9                {"Avenidas principales",Parques,Colegios}
10                                               {Parques}
                               ...
11574                                            {Parques}
11575    {"Avenidas principales","Centros comerciales",...
11577    {"Avenidas principales","Centros comerciales",...
11579                                            {Parques}
11581                                            {Parques}
Name: nearby_locations, Length: 4936, dtype: object

In [81]:
# Define la funci√≥n que realizar√° la operaci√≥n en una sola fila
def process_nearby_locations(row):
    a = row["nearby_locations"]
    if isinstance(a, str):
        a = a.strip('{}')
        return [x.strip('""') for x in a.split(',')]
    else:
        return None

# Aplica la funci√≥n a todas las filas de la columna "nearby_locations" y crea una nueva columna "processed_locations"
mitula_2["processed_locations"] = mitula_2.apply(process_nearby_locations, axis=1)

In [82]:
mitula_2["processed_locations"]

2                                                       []
5        [Parques, Centros comerciales, Avenidas princi...
6                                                       []
9                [Avenidas principales, Parques, Colegios]
10                                               [Parques]
                               ...
11574                                            [Parques]
11575    [Avenidas principales, Centros comerciales, Pa...
11577    [Avenidas principales, Centros comerciales, Pa...
11579                                            [Parques]
11581                                            [Parques]
Name: processed_locations, Length: 4936, dtype: object

In [83]:
#mitula_2["nearby_locations"].replace('{}', None, inplace= True)

In [84]:
locations = dict()

for locations_list in mitula_2["processed_locations"]:
    if isinstance(locations_list, list):
        for facility in locations_list:
            facility = facility.strip().replace(",", "")
            try:
                locations[facility] += 1
            except KeyError:
                locations[facility] = 1

In [85]:
locations

{'': 1355,
 'Parques': 2938,
 'Centros comerciales': 2402,
 'Avenidas principales': 2899,
 'Colegios': 2489,
 'El mar': 397,
 'Estaciones de tren': 3}

In [86]:
mitula_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4936 entries, 2 to 11581
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   price                4936 non-null   object
 1   location             4936 non-null   object
 2   property_type        4936 non-null   object
 3   operation_type       4936 non-null   object
 4   plot_area            304 non-null    object
 5   year                 3470 non-null   float64
 6   description          4936 non-null   object
 7   rooms                4936 non-null   object
 8   baths                4936 non-null   object
 9   area                 4903 non-null   object
 10  facilities           4936 non-null   object
 11  location_address     4936 non-null   object
 12  nearby_locations     4936 non-null   object
 13  price_USD            4936 non-null   int32
 14  area_combined        4936 non-null   int32
 15  half_baths           4936 non-null   object
 16  processed_locations  4936 non-null   object
dtypes: float64(1), int32(2), object(14)
memory usage: 784.6+ KB

In [34]:
mitula_2.columns

Index(['price', 'location', 'property_type', 'operation_type', 'plot_area',
       'year', 'description', 'bed', 'bath', 'area', 'facilities',
       'location_address', 'nearby_locations', 'price_USD', 'area_combined'],
      dtype='object')

In [37]:
mitula_3 = mitula_2[['price_USD', 'area_combined', 'rooms',  'baths', 'half_baths',  'year', 'location', 'property_type', 'description',  'facilities','location_address', 'nearby_locations', 'operation_type']]

In [38]:
mitula_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5609 entries, 0 to 11581
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price_USD         5609 non-null   int32
 1   area_combined     5096 non-null   object
 2   bed               5441 non-null   object
 3   bath              5443 non-null   object
 4   year              3687 non-null   float64
 5   location          5609 non-null   object
 6   property_type     5609 non-null   object
 7   description       5609 non-null   object
 8   facilities        5609 non-null   object
 9   location_address  5609 non-null   object
 10  nearby_locations  5609 non-null   object
 11  operation_type    5609 non-null   object
dtypes: float64(1), int32(1), object(10)
memory usage: 676.8+ KB

In [45]:
type(mitula_2["nearby_locations"][0])

str

In [48]:
mitula_2["nearby_locations"][2]

'{}'

In [42]:
import numpy as np
mitula_2["nearby_locations_2"]  = mitula_2["nearby_locations"].apply(lambda x: np.array_str(list(eval(x))) if x != '{}' else x)

AttributeError: 'list' object has no attribute 'shape'

In [26]:
mitula_2['description']

0        üèñÔ∏èCONDOMINIO MONTECARLO - MOLLENDOüèñÔ∏è\n\nSe ubi...
2        Se vende duplex de 2 dormitorios, ubicado a la...
4        OPORTUNIDAD DE INVERSION, EN EL MARAVILLOSO VA...
5        Surco Casuarinas üéØ Vendo Departamento con Terr...
6        Casa ubicada cerca a la zona comercial del dis...
                               ...
11574    Los departamentos se encuentra en un edificio ...
11575    VENDO departamento en la parte baja de Cayma e...
11577    Vendo moderno departamento en la parte baja de...
11579    [EN VENTA]¬†ESPACIOSO D√öPLEX EN PROLONG. LOS AR...
11581    EN VENTA -¬†Penthouse en Lujoso Condominio¬†\n\n...
Name: description, Length: 5609, dtype: object

In [50]:
mitula_2.loc[2]

price                                                      USD190,000
location                      Sd. S/N, Magdalena del Mar, Lima, Lima
property_type                                             Apartamento
operation_type                                                 Compra
plot_area                                                         NaN
year                                                           2013.0
description         Se vende duplex de 2 dormitorios, ubicado a la...
bed                                                     2 dormitorios
bath                                                          2 ba√±os
area                                                              102
facilities                            {Estacionamiento,"Sin amoblar"}
location_address      Comandante Jim√©nez 188, Magdalena del Mar, Per√∫
nearby_locations                                                   {}
price_USD                                                      190000
area_combined                                                     102
Name: 2, dtype: object

In [31]:

# Buscar filas que contienen "Python" en la columna 'texto'
result = mitula_2[mitula_2['facilities'].str.contains("Estacionamiento")]
result

,price,location,property_type,operation_type,plot_area,year,description,bed,bath,area,facilities,location_address,nearby_locations,price_USD,area_combined
0,"S/.58,000","Mollendo, Islay, Arequipa",Condominio,Compra,NaN,NaN,üèñÔ∏èCONDOMINIO MONTECARLO - MOLLENDOüèñÔ∏è\n\nSe ubi...,NaN,NaN,100,"{Estacionamiento,Terraza,Seguridad,Piscina,Jar...","Mollendo, Islay, Arequipa, PER","{""El mar"",""Avenidas principales""}",15676,100
2,"USD190,000","Sd. S/N, Magdalena del Mar, Lima, Lima",Apartamento,Compra,NaN,2013.0,"Se vende duplex de 2 dormitorios, ubicado a la...",2 dormitorios,2 ba√±os,102,"{Estacionamiento,""Sin amoblar""}","Comandante Jim√©nez 188, Magdalena del Mar, Per√∫",{},190000,102
5,"USD250,000","Jazan, Bongar√°, Amazonas",Apartamento,Compra,NaN,2009.0,Surco Casuarinas üéØ Vendo Departamento con Terr...,3 dormitorios,3 ba√±os,135,"{Estacionamiento,""Cocina equipada"",""Cuarto de ...","Amazonas, Bongar√°, Jazan","{Parques,""Centros comerciales"",""Avenidas princ...",250000,135
6,"USD170,000","Ur. Los Conquistadores, Carmen de la Legua Rey...",Casa,Compra,NaN,NaN,Casa ubicada cerca a la zona comercial del dis...,5 dormitorios,3 ba√±os,100,"{Estacionamiento,Balc√≥n,Internet}","Calle Gardenias 100-198, Cuadra 1, Ur. Los Con...",{},170000,100
10,"USD155,000","Miraflores Country Club, Miraflores, Piura, Pi...",Casa,Compra,NaN,NaN,üè°‚ú®VENTA DE BONITA CASA EN MIRAFLORES COUNTRY C...,3 dormitorios,3 ba√±os,114,"{Estacionamiento,""Cocina equipada"",""Cuarto de ...","Miraflores Country Club, Piura, Per√∫",{Parques},155000,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11573,"USD354,000","Asia, Ca√±ete, Lima",Casa de playa,Compra,NaN,2023.0,SE VENDE CASA DE ESTRENO DE PLAYA EN CONDOMINI...,4 dormitorios,4 ba√±os,330,"{Estacionamiento,""Cocina con reposteros"",Agua,...","Condominio Playa Coral, Asia, Per√∫","{""El mar"",""Centros comerciales"",Parques}",354000,330
11574,"USD175,000","Urb la Marina, Arequipa, Arequipa",Apartamento,Compra,132,2022.0,Los departamentos se encuentra en un edificio ...,3 dormitorios,3 ba√±os,132,"{Estacionamiento,""Cocina equipada"",Balc√≥n,Bode...","Arequipa, Arequipa, Urb la Marina",{Parques},175000,132
11575,"S/.425,000","Ur. El Se√±orial, Cayma, Arequipa, Arequipa",Apartamento,Compra,NaN,2020.0,VENDO departamento en la parte baja de Cayma e...,2 dormitorios,2 ba√±os,72,"{Estacionamiento,""Cocina equipada"",""Parcialmen...","Arequipa, Arequipa, Cayma","{""Avenidas principales"",""Centros comerciales"",...",114865,72
11577,"USD180,000","Cayma, Arequipa, Arequipa",Apartamento,Compra,NaN,2020.0,Vendo moderno departamento en la parte baja de...,3 dormitorios,3 ba√±os,136,"{Estacionamiento,""Cuarto de servicio"",""Parcial...","Los Arces, Cayma, Arequipa, Per√∫","{""Avenidas principales"",""Centros comerciales"",...",180000,136
11581,"USD255,000","Urb Macondo, Arequipa, Arequipa",Apartamento,Compra,153,2021.0,EN VENTA -¬†Penthouse en Lujoso Condominio¬†\n\n...,3 dormitorios,3 ba√±os,153,"{Estacionamiento,""Cuarto de servicio"",""Vista p...","Arequipa, Arequipa, Urb Macondo",{Parques},255000,153