In [1]:
import pandas as pd

In [2]:
mitula = pd.read_csv("dataset/mitula_dataset.csv")

In [3]:
mitula.head()

,id,title,price,location,property_type,operation_type,plot_area,year,description,image_urls,bed,bath,area,facilities,location_address,nearby_locations,property_url
0,1,VENTA DE TERRENOS EN CONDOMINIO MONTECARLO - M...,"S/.58,000","Mollendo, Islay, Arequipa",Condominio,Compra,NaN,NaN,üèñÔ∏èCONDOMINIO MONTECARLO - MOLLENDOüèñÔ∏è\n\nSe ubi...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,NaN,NaN,100 m¬≤,"{Estacionamiento,Terraza,Seguridad,Piscina,Jar...","Mollendo, Islay, Arequipa, PER","{""El mar"",""Avenidas principales""}",https://casas.mitula.pe/adform/24301-256-4cfd-...
1,2,Antigua Panamericana Norte Km. 1039 - 1040 - V...,"USD220,000","Sullana, Piura",Terreno,Compra,"7,500 m¬≤",NaN,MantyObras Inmobiliaria tiene a la venta un Te...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,NaN,NaN,NaN,{},"Sullana, Per√∫","{""Avenidas principales""}",https://casas.mitula.pe/adform/24301-256-4761-...
2,3,Duplex en Margalena Limite con San Isidro,"USD190,000","Sd. S/N, Magdalena del Mar, Lima, Lima",Apartamento,Compra,NaN,2013.0,"Se vende duplex de 2 dormitorios, ubicado a la...",https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,2 dormitorios,2 ba√±os,102 m¬≤,"{Estacionamiento,""Sin amoblar""}","Comandante Jim√©nez 188, Magdalena del Mar, Per√∫",{},https://casas.mitula.pe/adform/24301-256-4976-...
3,4,Se Vende Como Terreno en Ate Vitarte,"USD124,000","Cp. Vitarte Central, Ate, Lima, Lima",Terreno,Compra,155 m¬≤,NaN,EXCELENTE OPORTUNIDAD - SE VENDE PROPIEDAD A P...,https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,NaN,NaN,NaN,"{Agua,Electricidad}","Calle Santa Mar√≠a, Ate, Per√∫","{""Avenidas principales"",""Centros comerciales"",...",https://casas.mitula.pe/adform/24301-256-4b74-...
4,5,TERRENO AGRICOLA EN EL VALLE SAGRADO DE CUSCO ...,"USD540,000","C.p Calca, Calca, Cuzco",Casa,Compra,NaN,NaN,"OPORTUNIDAD DE INVERSION, EN EL MARAVILLOSO VA...",https://img.mitula.com/eyJidWNrZXQiOiJwcmQtbGl...,NaN,NaN,"4,500 m¬≤",{},"Cuzco, Calca, C.p Calca",{},https://casas.mitula.pe/adform/24301-256-3cfb-...

In [4]:
mitula_2 = mitula.drop(columns=['id', 'title', 'image_urls', 'property_url' ])

In [5]:
#from pandas_profiling import ProfileReport
#prof = ProfileReport(mitula_3)
#prof.to_file(output_file='mitula.html')

In [6]:
mitula_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11586 entries, 0 to 11585
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             11586 non-null  object
 1   location          11586 non-null  object
 2   property_type     11586 non-null  object
 3   operation_type    11586 non-null  object
 4   plot_area         2889 non-null   object
 5   year              5814 non-null   float64
 6   description       11586 non-null  object
 7   bed               7390 non-null   object
 8   bath              8217 non-null   object
 9   area              8180 non-null   object
 10  facilities        11586 non-null  object
 11  location_address  11586 non-null  object
 12  nearby_locations  11586 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

Drop duplicates

In [7]:
mitula_2.drop_duplicates(inplace= True)

### property_type: 
Leave only "Casa", "Apartamento", "Condominio", "Townhouse", "Casa de playa", "Habitaci√≥n",

In [8]:
mitula["property_type"].unique()

array(['Condominio', 'Terreno', 'Apartamento', 'Casa', 'Villa',
       'Local Comercial', 'Almac√©n', 'Cochera', 'Casa de playa',
       'Oficina', 'Habitaci√≥n', 'Townhouse'], dtype=object)

In [9]:
mitula_2 = mitula_2[(mitula_2['property_type'] == "Apartamento") | 
                    (mitula_2['property_type'] == "Casa") | 
                    (mitula_2['property_type'] == "Condominio") |
                    (mitula_2['property_type'] == "Townhouse") | 
                    (mitula_2['property_type'] == "Casa de playa") | 
                    (mitula_2['property_type'] == "Habitaci√≥n")]

### price: 
Take out "Consultar", clean data and convert S/ to USD

In [10]:
mitula_2 = mitula_2[mitula_2["price"] != "Consultar"]

In [11]:
mitula_2["price_USD"] = mitula_2["price"]

In [12]:
mitula_2["price_USD"] = mitula_2["price_USD"].str.replace("USD","")
mitula_2["price_USD"] = mitula_2["price_USD"].str.replace(",","")

In [13]:
# Definir una funci√≥n para realizar la conversi√≥n
def convert_to_usd(value):
    if isinstance(value, str) and value.startswith('S/.'):
        value = float(value.replace('S/.', '').replace(',', '')) / 3.7
        value= round(value)
    return value

# Aplicar la funci√≥n a la columna price_USD
mitula_2["price_USD"] = mitula_2["price_USD"].apply(lambda x: convert_to_usd(x))

In [14]:
mitula_2["price_USD"] = mitula_2["price_USD"].astype(int)

### operation_type:
Leave only "compra"

In [15]:
mitula_2["operation_type"].unique()

array(['Compra', 'Alquiler'], dtype=object)

In [16]:
mitula_2 = mitula_2[mitula_2["operation_type"] == "Compra"]

### plot_area and area: 
Make a combined variable

In [17]:
# Eliminar el m2 de las variables
mitula_2['plot_area'] = mitula_2['plot_area'].str.replace(" m¬≤","")
mitula_2['area'] = mitula_2['area'].str.replace(" m¬≤","")

In [18]:
def combine_columns(row):
    if not pd.isna(row['plot_area']) and not pd.isna(row['area']):
        if row['plot_area'] == row['plot_area']:
            return row['plot_area']
        else: 
            return "Revisar"
    elif not pd.isna(row['plot_area']):
        # Si solo plot_area tiene datos, toma su valor
        return row['plot_area']
    elif not pd.isna(row['area']):
        # Si solo area tiene datos, toma su valor
        return row['area']
    else:
        # Si ambas columnas est√°n vac√≠as, puedes manejarlo como desees
        return None  # En este ejemplo, dejamos el resultado como NaN

# Aplicar la funci√≥n para combinar las columnas y crear una nueva columna llamada 'combined'
mitula_2['area_combined'] = mitula_2.apply(combine_columns, axis=1)

In [19]:
mitula_2['area_combined'] = mitula_2['area_combined'].str.replace(",","")

In [20]:
#Chequeo que no me quede ningun dato por revisar
mitula_2[mitula_2['area_combined']== "Revisar"]

Empty DataFrame
Columns: [price, location, property_type, operation_type, plot_area, year, description, bed, bath, area, facilities, location_address, nearby_locations, price_USD, area_combined]
Index: []

In [21]:
mitula_2['area_combined'].isnull().sum()

513

In [22]:
#Elimino registros que tengan nulo el area
mitula_2.dropna(subset= ['area_combined'], inplace= True)

In [23]:
# Convierto el tipo de dato a int
mitula_2['area_combined'] = mitula_2['area_combined'].astype(int)

### bed:
Change column name and delete de word "dormitorios"

In [24]:
mitula_2["bed"].unique()

array([nan, '2 dormitorios', '3 dormitorios', '5 dormitorios',
       '4 dormitorios', '1 dormitorio', '15 dormitorios',
       '32 dormitorios', '14 dormitorios', '6 dormitorios',
       '7 dormitorios', '8 dormitorios', '10 dormitorios',
       '9 dormitorios', '13 dormitorios', '16 dormitorios',
       '24 dormitorios', '25 dormitorios', '19 dormitorios',
       '11 dormitorios', '20 dormitorios', '18 dormitorios',
       '12 dormitorios', '30 dormitorios', '28 dormitorios',
       '40 dormitorios', '17 dormitorios', '31 dormitorios',
       '22 dormitorios'], dtype=object)

In [25]:
mitula_2["bed"] = mitula_2["bed"].str.replace(" dormitorios", "").str.replace(" dormitorio", "")

In [26]:
mitula_2['bed'].isnull().sum()

136

In [27]:
# Delete rows that have null in "bed"
mitula_2.dropna(subset= ['bed'], inplace= True)

In [28]:
# Change the name of the column
mitula_2.rename(columns = {"bed": "rooms"}, inplace= True)

### bath:
Change column name and delete de word "ba√±os"

In [29]:
mitula_2["bath"].unique()

array(['2 ba√±os', '3 ba√±os', '4 ba√±os', '1 Medio ba√±o', '1 ba√±o',
       '17 ba√±os', '33 ba√±os', '5 ba√±os', '7 ba√±os', '8 ba√±os', nan,
       '6 ba√±os', '2 Medios ba√±os', '9 ba√±os', '15 ba√±os',
       '3 Medios ba√±os', '10 ba√±os', '24 ba√±os', '12 ba√±os', '27 ba√±os',
       '22 ba√±os', '11 ba√±os', '25 ba√±os', '35 ba√±os', '230 ba√±os',
       '20 ba√±os', '28 ba√±os', '14 ba√±os', '34 ba√±os', '13 ba√±os',
       '5 Medios ba√±os'], dtype=object)

In [30]:
# Delete rows that have null in "bed"
mitula_2.dropna(subset= ['bath'], inplace= True)

In [31]:
mitula_2["bath"] = mitula_2["bath"].str.replace(" ba√±os", "").str.replace(" ba√±o", "")

In [32]:
mitula_2["half_baths"] = None

# Itera a trav√©s de las filas del DataFrame
for index, row in mitula_2.iterrows():
    bath_column = row["bath"]
    
    # Verifica si "Medios" o "Medio" est√° presente en la columna "bath"
    if "Medios" in bath_column or "Medio" in bath_column:
        # Encuentra el n√∫mero en la cadena
        words = bath_column.split()
        for word in words:
            if word.isdigit():
                half_baths = int(word)
                # Asigna el n√∫mero a la columna "half_baths" en la misma fila
                mitula_2.at[index, "half_baths"] = half_baths
                # Actualiza la columna "bath" con 0
                mitula_2.at[index, "bath"] = 0

# Ahora, df contendr√° una nueva columna "half_baths" con el n√∫mero de medios ba√±os en las filas correspondientes.

In [33]:
mitula_2["half_baths"] = mitula_2["half_baths"].fillna("0")

In [34]:
# Change the name of the column
mitula_2.rename(columns = {"bath": "baths"}, inplace= True)

### year:

In [35]:
for index, row in mitula_2.iterrows():
    if not pd.isna(row["year"]):
        mitula_2.at[index, "year"] = int(row["year"])
    else:
        pass

In [36]:
mitula_2["year"]

2        2013.0
5        2009.0
6           NaN
9        1987.0
10          NaN
          ...
11574    2022.0
11575    2020.0
11577    2020.0
11579    2021.0
11581    2021.0
Name: year, Length: 4936, dtype: float64

In [60]:
mitula_2[mitula_2["year"].isnull()]

,price,location,property_type,operation_type,plot_area,year,description,rooms,baths,area,facilities,location_address,nearby_locations,price_USD,area_combined,half_baths,processed_locations
6,"USD170,000","Ur. Los Conquistadores, Carmen de la Legua Rey...",Casa,Compra,NaN,NaN,Casa ubicada cerca a la zona comercial del dis...,5,3,100,"[Estacionamiento, Balc√≥n, Internet]","Calle Gardenias 100-198, Cuadra 1, Ur. Los Con...",{},170000,100,0,[]
10,"USD155,000","Miraflores Country Club, Miraflores, Piura, Pi...",Casa,Compra,NaN,NaN,üè°‚ú®VENTA DE BONITA CASA EN MIRAFLORES COUNTRY C...,3,3,114,"[Estacionamiento, Cocina equipada, Cuarto de s...","Miraflores Country Club, Piura, Per√∫",{Parques},155000,114,0,[Parques]
14,"USD680,000","Musa, La Molina, Provincia de Lima, Gobierno R...",Casa,Compra,NaN,NaN,Se Vende hermosa casa moderna con PISCINA en U...,3,4,476,[],"Urb rinconada, La Molina, Lima, Lima, Peru",{},680000,476,0,[]
39,"USD1,050,000","Morales, San Mart√≠n, San Mart√≠n",Casa,Compra,NaN,NaN,Casa ubicada en Jr Moyobamba cuadra 2.\nA 1 c...,15,17,700,[],"Jr. Moyobamba, Tarapoto, Per√∫",{},1050000,700,0,[]
42,"USD99,000","Villa El Salvador, Lima, Lima",Casa,Compra,NaN,NaN,Se vende casa ubicada en la Urbanizaci√≤n Pacha...,3,3,166,[],"Lima, Lima, Villa El Salvador",{},99000,166,0,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11498,"USD130,000","Cayma, Arequipa, Arequipa",Apartamento,Compra,110,NaN,ACOJEDOR DEPARTAMENTO EN VENTA EN CAYMA\n\n¬†\n...,3,3,NaN,"[Estacionamiento, Cocina equipada, Balc√≥n, Arm...","Arequipa, Arequipa, Cayma",{Parques},130000,110,0,[Parques]
11500,"USD195,000","Ur. Los Andenes, Cayma, Arequipa, Arequipa",Apartamento,Compra,151,NaN,DEPARTAMENTOS EN PREVENTA EN CAYMA\n\nEN URB. ...,3,2,151,"[Estacionamiento, Vista panor√°mica, Armario em...","Arequipa, Arequipa, Cayma",{Parques},195000,151,0,[Parques]
11508,"USD990,000","Ag. Inmaculada, Cayma, Arequipa, Arequipa",Apartamento,Compra,900,NaN,ESPECTACULAR PENT HOUSE DE LUJO EN CAYMA\n\nHe...,6,5,900,"[Estacionamiento, Balc√≥n, Jacuzzi, Cuarto de s...","Arequipa, Arequipa, Cayma",{Parques},990000,900,0,[Parques]
11571,"USD120,000","Urb los Altitos, Arequipa, Arequipa",Apartamento,Compra,113,NaN,¬°¬°¬° VENTA !!! DEPARTAMENTO EN CALLE TRONCHADER...,3,4,113,"[Cuarto de servicio, Sin amoblar, Armario empo...","Arequipa, Arequipa, Urb los Altitos","{Parques,""Avenidas principales"",""Centros comer...",120000,113,0,"[Parques, Avenidas principales, Centros comerc..."
11572,"USD149,000","Cerro Colorado, Arequipa, Arequipa",Apartamento,Compra,NaN,NaN,üìåEn venta amplio y calido departamento ubicad...,3,4,182,"[Estacionamiento, Vista panor√°mica, Cisterna, ...","Cerro Colorado, Arequipa, Per√∫","{""Avenidas principales"",""Centros comerciales"",...",149000,182,0,"[Avenidas principales, Centros comerciales, Co..."

### nearby_locations:

In [37]:
#type(mitula_2["processed_locations"][5])

In [38]:
#mitula_2["processed_locations"][9]

In [39]:
mitula_2["nearby_locations"]

2                                                       {}
5        {Parques,"Centros comerciales","Avenidas princ...
6                                                       {}
9                {"Avenidas principales",Parques,Colegios}
10                                               {Parques}
                               ...
11574                                            {Parques}
11575    {"Avenidas principales","Centros comerciales",...
11577    {"Avenidas principales","Centros comerciales",...
11579                                            {Parques}
11581                                            {Parques}
Name: nearby_locations, Length: 4936, dtype: object

In [40]:
# Define la funci√≥n que realizar√° la operaci√≥n en una sola fila
def process_nearby_locations(row):
    a = row["nearby_locations"]
    if isinstance(a, str):
        a = a.strip('{}')
        return [x.strip('""') for x in a.split(',')]
    else:
        return None

# Aplica la funci√≥n a todas las filas de la columna "nearby_locations" y crea una nueva columna "processed_locations"
mitula_2["processed_locations"] = mitula_2.apply(process_nearby_locations, axis=1)

In [41]:
mitula_2["processed_locations"]

2                                                       []
5        [Parques, Centros comerciales, Avenidas princi...
6                                                       []
9                [Avenidas principales, Parques, Colegios]
10                                               [Parques]
                               ...
11574                                            [Parques]
11575    [Avenidas principales, Centros comerciales, Pa...
11577    [Avenidas principales, Centros comerciales, Pa...
11579                                            [Parques]
11581                                            [Parques]
Name: processed_locations, Length: 4936, dtype: object

In [42]:
#mitula_2["nearby_locations"].replace('{}', None, inplace= True)

In [43]:
locations = dict()

for locations_list in mitula_2["processed_locations"]:
    if isinstance(locations_list, list):
        for facility in locations_list:
            facility = facility.strip().replace(",", "")
            try:
                locations[facility] += 1
            except KeyError:
                locations[facility] = 1

In [44]:
locations

{'': 1355,
 'Parques': 2938,
 'Centros comerciales': 2402,
 'Avenidas principales': 2899,
 'Colegios': 2489,
 'El mar': 397,
 'Estaciones de tren': 3}

In [45]:
mitula_2.columns

Index(['price', 'location', 'property_type', 'operation_type', 'plot_area',
       'year', 'description', 'rooms', 'baths', 'area', 'facilities',
       'location_address', 'nearby_locations', 'price_USD', 'area_combined',
       'half_baths', 'processed_locations'],
      dtype='object')

### facilities:

In [46]:
type(mitula_2["facilities"][2])

str

In [47]:
mitula_2["facilities"][2]

'{Estacionamiento,"Sin amoblar"}'

In [48]:
# Define la funci√≥n que realizar√° la operaci√≥n en una sola fila
def process_nearby_locations(row):
    a = row["facilities"]
    if isinstance(a, str):
        a = a.strip('{}')
        return [x.strip('""') for x in a.split(',')]
    else:
        return None

# Aplica la funci√≥n a todas las filas de la columna "nearby_locations" y crea una nueva columna "processed_locations"
mitula_2["facilities"] = mitula_2.apply(process_nearby_locations, axis=1)

In [49]:
locations = dict()

for locations_list in mitula_2["facilities"]:
    if isinstance(locations_list, list):
        for facility in locations_list:
            facility = facility.strip().replace(",", "")
            try:
                locations[facility] += 1
            except KeyError:
                locations[facility] = 1

In [50]:
locations

{'Estacionamiento': 2609,
 'Sin amoblar': 1815,
 'Cocina equipada': 1329,
 'Cuarto de servicio': 1359,
 'Permite animales dom√©sticos': 211,
 'Balc√≥n': 1284,
 'Vista panor√°mica': 1052,
 'Cisterna': 786,
 'Terraza': 1450,
 'Permite ni√±os': 179,
 'Ver m√°s': 1318,
 'Ver menos': 1318,
 'Piscina': 577,
 'Caseta de vigilancia': 796,
 'Barbacoa': 885,
 'Acceso para personas con discapacidad': 685,
 'Internet': 628,
 'Armario empotrado': 1974,
 'Agua': 616,
 'Aire acondicionado': 209,
 'Seguridad': 1823,
 'Conserje': 914,
 'Jard√≠n': 961,
 '': 898,
 'Patio': 1020,
 'Electricidad': 47,
 'Ascensor': 1685,
 'Parcialmente amoblado': 414,
 'Jacuzzi': 192,
 'Chimenea': 153,
 'Biblioteca': 59,
 '√Årea infantil': 459,
 'Gas natural': 651,
 'Calefacci√≥n': 56,
 'Cancha de tenis': 39,
 'Gimnasio': 425,
 'Bodega': 360,
 'Cocina con reposteros': 103,
 'Televisi√≥n por cable': 20,
 'Completamente amoblado': 106,
 'Sauna': 80,
 'Oficina': 23,
 'Alarma': 49,
 'Jard√≠n en la azotea': 91,
 'Solo familias': 2}

In [51]:
facilities = pd.DataFrame(list(locations.items()), columns=['Facility', 'Cantidad'])

In [52]:
facilities.sort_values(by=["Cantidad"], ascending=False)

                                 Facility  Cantidad
0                         Estacionamiento      2609
17                      Armario empotrado      1974
20                              Seguridad      1823
1                             Sin amoblar      1815
26                               Ascensor      1685
8                                 Terraza      1450
3                      Cuarto de servicio      1359
2                         Cocina equipada      1329
10                                Ver m√°s      1318
11                              Ver menos      1318
5                                  Balc√≥n      1284
6                        Vista panor√°mica      1052
24                                  Patio      1020
22                                 Jard√≠n       961
21                               Conserje       914
23                                              898
14                               Barbacoa       885
13                   Caseta de vigilancia       796
7                                Cisterna       786
15  Acceso para personas con discapacidad       685
32                            Gas natural       651
16                               Internet       628
18                                   Agua       616
12                                Piscina       577
31                          √Årea infantil       459
35                               Gimnasio       425
27                  Parcialmente amoblado       414
36                                 Bodega       360
4             Permite animales dom√©sticos       211
19                     Aire acondicionado       209
28                                Jacuzzi       192
9                           Permite ni√±os       179
29                               Chimenea       153
39                 Completamente amoblado       106
37                  Cocina con reposteros       103
43                    Jard√≠n en la azotea        91
40                                  Sauna        80
30                             Biblioteca        59
33                            Calefacci√≥n        56
42                                 Alarma        49
25                           Electricidad        47
34                        Cancha de tenis        39
41                                Oficina        23
38                   Televisi√≥n por cable        20
44                          Solo familias         2

In [54]:
mitula_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4936 entries, 2 to 11581
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   price                4936 non-null   object
 1   location             4936 non-null   object
 2   property_type        4936 non-null   object
 3   operation_type       4936 non-null   object
 4   plot_area            304 non-null    object
 5   year                 3470 non-null   float64
 6   description          4936 non-null   object
 7   rooms                4936 non-null   object
 8   baths                4936 non-null   object
 9   area                 4903 non-null   object
 10  facilities           4936 non-null   object
 11  location_address     4936 non-null   object
 12  nearby_locations     4936 non-null   object
 13  price_USD            4936 non-null   int32
 14  area_combined        4936 non-null   int32
 15  half_baths           4936 non-null   object
 16  processed_locations  4936 non-null   object
dtypes: float64(1), int32(2), object(14)
memory usage: 784.6+ KB

In [58]:
mitula_2[mitula_2["year"] == None]

Empty DataFrame
Columns: [price, location, property_type, operation_type, plot_area, year, description, rooms, baths, area, facilities, location_address, nearby_locations, price_USD, area_combined, half_baths, processed_locations]
Index: []

In [26]:
mitula_2['description']

0        üèñÔ∏èCONDOMINIO MONTECARLO - MOLLENDOüèñÔ∏è\n\nSe ubi...
2        Se vende duplex de 2 dormitorios, ubicado a la...
4        OPORTUNIDAD DE INVERSION, EN EL MARAVILLOSO VA...
5        Surco Casuarinas üéØ Vendo Departamento con Terr...
6        Casa ubicada cerca a la zona comercial del dis...
                               ...
11574    Los departamentos se encuentra en un edificio ...
11575    VENDO departamento en la parte baja de Cayma e...
11577    Vendo moderno departamento en la parte baja de...
11579    [EN VENTA]¬†ESPACIOSO D√öPLEX EN PROLONG. LOS AR...
11581    EN VENTA -¬†Penthouse en Lujoso Condominio¬†\n\n...
Name: description, Length: 5609, dtype: object

In [ ]:
mitula_3 = mitula_2[['price_USD', 'area_combined', 'rooms',  'baths', 'half_baths',  'year', 'location', 'property_type', 'description',  'facilities','location_address', 'nearby_locations', 'operation_type']]

In [ ]:
mitula_3.info()